Host bastion
    User ec2-user
    HostName ec2-54-218-52-2.us-west-2.compute.amazonaws.com
    IdentityFile ~/Bitbucket/Operations/aws-ssh-keys/us-west-2/asgard-lite-test.pem
    ForwardAgent yes

Host 10.0.*.*
    User ec2-user
    IdentityFile ~/Bitbucket/Operations/aws-ssh-keys/us-west-2/asgard-lite-test.pem
    ProxyCommand ssh bastion -W %h:%p
    ExitOnForwardFailure yes
